black
certifi
charset-normalizer
click
colorama
configparser
Flask
idna
itsdangerous
Jinja2
MarkupSafe
mypy-extensions
pathspec
platformdirs
pycodestyle
PyYAML
requests
termcolor
tomli
urllib3
Werkzeug
